:root {
    --primary: #F16A23;
    --second: #F7C942;
    --bg: #f8f8f8;
    --text: #242424;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg) !important;
    color: var(--text);
}

/* Overlay */
.navbar .overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: .3s ease-in;
    display: none;
}
.navbar .overlay.active {
    display: block;
    width: 100%;
    animation: fade .3s forwards;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Navbar */
.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 6%;
    background-color: rgba(250, 250, 250, 0.5);
    border-bottom: 1px solid var(--primary);
    backdrop-filter: blur(5px);
    z-index: 999;
}

.navbar .navbar-nav {
    position: absolute;
    top: 0%;
    left: -100%;
    background-color: var(--bg);
    width: 17.7rem;
    height: 100vh;
    transition: .4s;
    padding: 1.8rem 2%;
    z-index: -1;
}
.navbar .navbar-nav.active {
    z-index: 4;
    left: 0;
}

.navbar .navbar-nav a img {
    width: 200px;
}

.navbar .navbar-nav .navbar-link {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}
.navbar .navbar-nav .navbar-link a {
    color: var(--text);
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: .4rem .5rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 6px;
    margin: .1rem -.5rem;
    transition: .1s;
}
.navbar .navbar-nav .navbar-link a:hover {
    background-color: var(--primary);
    color: var(--bg);
}
.navbar .navbar-nav .navbar-link a span {
    margin: 0 .5rem;
}

.navbar .navbar-container {
    padding: .4rem 6%;
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar .navbar-container .logo {
    display: flex;
    align-items: center;
}
.navbar .navbar-container .logo a {
    margin: 0 2rem 0 0;
    color: var(--text);
}

.navbar .navbar-container .logo p {
    margin-bottom: 0;
    margin-left: -1.3rem;
    color: rgba(1, 1, 1, .9);
    font-size: 1rem;
    font-style: italic;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.navbar .navbar-container .login-register {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.navbar .navbar-container .login-register a {
    text-decoration: none;
    margin: .3rem;
    color: var(--text);
    font-size: 1rem;
    font-weight: 500;
}

/* ====================================================== */
/* Promo Section */
.promo {
    padding: 7rem 6% 2rem;
    color: white;
}

.promo h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text);
    text-transform: uppercase;
    margin-bottom: 1rem;
    width: max-content;
    position: relative;
}
.promo .promo-img {
    position: absolute;
    top: -1.3rem;
    right: -1.3rem;
    height: 3rem;
}

.promo-content {
    overflow: hidden;
}

.promo-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 1rem;
    padding: .2rem;
    -webkit-overflow-scrolling: touch;
    justify-content: stretch;
}

.promo-container .promo-item {
    width: 100%;
    text-decoration: none;
    border-radius: 10px;
    color: var(--bg);
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
.promo-container .promo-item:hover {
    transform: translateY(-1px);
}

.promo-item .item-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: linear-gradient(60deg, #FFB74D 15%, #ffa600 85%);
    padding: .6rem;
    border-radius: 10px;
    z-index: 1;
}
.promo-item .item-info img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

.item-info .item-details h2 {
    font-size: 1rem;
    margin: 0;
    font-weight: 600;
}
.item-info .item-details p {
    font-size: 0.8rem;
    margin: 0.2rem 0 0;
}

.promo-item .item-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fffce1;
    padding: 1.5rem .8rem .6rem;
    border-radius: 0 0 8px 8px;
    margin-top: -1rem;
}
#countdown1, #countdown2,
#countdown3, #countdown4 {
    background-color: #ff9a48;
    color: white;
    padding: 0 1.6rem;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 600;
}
.discount {
    color: #3ad071;
    font-weight: 700;
    font-size: .8rem;
    text-shadow: none;
}

/* ============================================== */
/* Product Section */
.product {
    padding: 0 6%;
}
.product a {
    text-decoration: none;
    position: relative;
}
.product a h2 {
    color: var(--text);
    font-size: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--text);
    width: max-content;
    margin-bottom: 3rem;
}
.product a span {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: var(--text);
    position: absolute;
    bottom: -2px;
    left: 0;
}

.product .product-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    gap: 1rem;
}

.product .product-row .product-item {
    flex: 1 1 10rem;
    position: relative;
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,.15));
}
.product .product-row .product-item .product-img {
    width: 100%;
    border-radius: .5rem;
}

.product .product-row .product-item .overlay {
    border-radius: .5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(100,100,100,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: .2s;
}
.product .product-row .product-item .overlay:hover {
    opacity: 1;
}
.product .product-row .product-item .overlay .product-logo {
    height: 2.2rem;
    filter: drop-shadow(0px 0px 3px rgba(255,255,255,.2));
}
.product .product-row .product-item .overlay .product-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: .7rem;
}
.product .product-row .product-item .overlay h3 {
    font-size: 1rem;
    margin: 0;
}
.product .product-row .product-item .overlay p {
    font-size: .8rem;
}

/* ================================================== */
/* Footer */
footer {
    background-color: #f1f1f1;
    margin-top: 3rem;
    padding: 2rem 6% 0;
}

footer .container {
    min-width: 100%;
    padding: 0;
    margin: 0;
}

footer .container .footer-content {
    display: flex;
    gap: 3rem;
    position: relative;
}
footer .container .footer-content::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--text);
    position: absolute;
    bottom: 0;
}

footer .container .description {
    padding-top: 2rem;
    width: 50%;
}
footer .container .description img {
    height: 6rem;
    margin-bottom: 2rem;
}
footer .container .description p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-align: justify;
}

footer .container .content {
    margin-left: auto;
    width: 50%;
}
footer .container .content .links {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
footer .container .content .links .sitemap,
footer .container .content .links .other,
footer .container .content .links .sitemap,
footer .container .content .links .contact {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    gap: .9rem;
}
footer .container .content .links h3 {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}
footer .container .content .links a {
    text-decoration: none;
    color: var(--text);
    font-size: 1.1rem;
}

footer .container .content .links .contact .sosmed-logo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1.6rem;
}
footer .container .content .links .contact .sosmed-logo a {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--bg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .payment h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}
footer .payment .payment-wrapper {
    width: 100%;
    display: flex;
    overflow: hidden;
    margin: 1rem 0 1.1rem;
}
footer .payment .payment-list {
    height: 20px;
    display: flex;
    width: max-content;
    object-fit: cover;
    animation: autoScroll 25s linear infinite;
    animation-play-state: running;
}
footer .payment .payment-wrapper:hover .payment-list {
    animation-play-state: paused;
}
footer .payment .payment-list .payment-item {
    padding: 0 10px;
    max-height: 100%;
}
@keyframes autoScroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

footer .container .copyright {
    display: flex;
    margin: 1rem 0;
    align-items: center;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
footer .container .copyright h3 {
    font-size: 1.1rem;
    margin-right: 1rem;
    margin-bottom: 0;
}
footer .container .copyright a {
    text-decoration: none;
    margin: 0 .5rem;
}
footer .container .copyright span {
    font-size: 2rem;
    font-weight: 200;
}

/* Query */
/* Desktop */
@media (min-width: 1400) {
    html {
        font-size: 110%;
    }

    .product .product-row .product-item {
        flex: 1 1 18rem;
    }
}

/* Tablet */
@media (max-width: 758px) {
    html {
        font-size: 68%;
    }

    .navbar {
        padding: 1.1rem 4% !important;
    }

    .navbar .navbar-container {
        padding-left: 0;
    }
    
    .navbar .navbar-nav {
        width: 25rem;
    }

    .navbar .navbar-nav a img {
        width: 75%;
        margin-left: 4px;
    }

    .navbar .navbar-nav .navbar-link {
        margin: 3rem 0;
    }

    .navbar .navbar-nav .navbar-link a {
        color: var(--text);
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: .4rem .8rem;
        font-size: 1.4rem;
        font-weight: 500;
        border-radius: 6px;
        margin: .5rem -.5rem;
        transition: .1s;
    }

    .navbar .navbar-container .logo p,
    .navbar .navbar-container .login-register {
        display: none;
    }

    .promo {
        padding: 2rem 3%;
        margin-top: 6.5rem;
    }

    .promo .promo-container {
        display: flex;
        overflow-x: auto; /* Membuat kontainer scroll secara horizontal */
        justify-content: flex-start;
        gap: 1rem;
    }

    .promo .promo-container::-webkit-scrollbar {
        display: none; /* Hilangkan scrollbar pada Chrome */
    }

    .promo .promo-container .promo-item {
        max-width: 60%; /* Ukuran lebih kecil untuk item di layar tablet */
        flex-shrink: 0; /* Mencegah item mengecil secara otomatis */
    }

    .promo h1 {
        font-size: 1.3rem; /* Sesuaikan ukuran judul di layar kecil */
    }

    .product {
        padding: 0 3%;
    }

    .product .product-row .product-item {
        flex: 1 1 14rem;
    }

    .product .product-row .product-item .overlay h3 {
        font-size: 1.5rem;
        margin-bottom: .2rem;
    }
    .product .product-row .product-item .overlay p {
        font-size: 1rem;
    }

    footer {
        padding: 2rem 3% 0;
    }
    footer .container {
        width: 100%;
    }
    footer .footer-content {
        flex-wrap: wrap;
    }
    footer .footer-content .description {
        width: 100%;
    }
    footer .footer-content .content {
        margin-left: 0;
        width: 100%;
        margin-top: -5rem;
    }
    footer .container .content .links {
        justify-content: flex-start;
        gap: 2.5rem;
    }
    footer svg.feather {
        width: 1.5rem;
        height: 1.5rem;
    }

}

@media (max-width: 568px) {
    html {
        font-size: 55%;
    }

    .promo {
        padding-top: 3rem;
    }

    #countdown1, #countdown2,
    #countdown3, #countdown4 {
        padding: .1rem 1.6rem 0;
    }

    .product .product-row .product-item {
        flex: 1 1 13rem;
    }

    .product .product-row .product-item .overlay p {
        font-size: 1.1rem;
    }
}