* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    overflow: hidden;
}

body {
    background: linear-gradient(to right, #fff7f3, #ffdcc8);
    min-height: 100vh;
    width: 100vw;
}

.notif {
    position: absolute;
    top: 1rem;
    right: 0;
    /* transform: translateX(100%); */
}

.container-content {
    /* background-color: red; */
    position: relative;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    width: 55%;
    min-height: 420px;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    color: #333;
}

.container p {
    font-size: .8rem;
    line-height: 1.2rem;
    letter-spacing: 0.3px;
    margin: 1rem 0;
}
.container span {
    font-size: .7rem;
}
.container a {
    color: #333;
    font-size: .8rem;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button {
    background-color: #f27531;
    color: #fff;
    font-size: .8rem;
    padding: .5rem 2.5rem;
    border-radius: .4rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: .6rem;
    cursor: pointer;
}
.container button.hidden {
    background-color: transparent;
    border: 1px solid #fff;
}

.container form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2.5rem;
    height: 100%;
    animation: scale 1.5s forwards;
}
@keyframes scale {
    0% {
        transform: scale(90%);
    }
    50% {
        transform: scale(101%);
    }
}

.container input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

/* Sign In - Login */
.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}
.container.active .sign-in {
    transform: translateX(100%);
}

/* Sign Up - Daftar */
.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}
.container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}
@keyframes move {
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons {
    margin: 1rem 0;
}
.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 2.4rem;
    height: 2.4rem;
}

/* ========== TOGGLE ========== */
.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 120px 0 0 90px;
    z-index: 1000;
}
.container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 120px 90px 0;
}

.toggle {
    background-color: #f27531;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}
.container.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 1.5rem;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-panel h1 {
    font-size: 1.5rem;
}

/* Toggle Masuk */
.toggle-left {
    transform: translateX(-200%);
}
.container.active .toggle-left {
    transform: translateX(0);
}

/* Toggle Daftar */
.toggle-right {
    right: 0;
    transform: translateX(0);
}
.container.active .toggle-right {
    transform: translateX(200%);
}

.container form p {
    display: none;
}

/* Loading Animation */
.form-container button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 5px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
    margin-left: 1rem;
    display: none;
}
.loader.active {
    display: inline-block;
}
@keyframes l5 {
    0%  {box-shadow: 10px 0 #fff, -10px 0 #fff2;background: #fff }
    33% {box-shadow: 10px 0 #fff, -10px 0 #fff2;background: #fff2}
    66% {box-shadow: 10px 0 #fff2,-10px 0 #fff; background: #fff2}
    100%{box-shadow: 10px 0 #fff2,-10px 0 #fff; background: #fff }
}

/* Notifikasi */
.notif::before {
    content: '';
    display: block;
    width: .5rem;
    height: 2.2rem;
    background-color: #f27531;
    position: absolute;
    left: 1px;
    border-radius: .2rem 0 0 .2rem;
}
.notif {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 1rem;
    right: 0;
    transform: translateX(100%);
    background-color: #f4874c;
    color: #fff;
    width: 15.5rem;
    height: 2.2rem;
    padding-left: 1.5rem;
    font-size: .9rem;
    border-radius: .2rem;
}
.notif.active {
    right: 1rem;
    animation: notif 4s forwards; /* 2s masuk, 2s bertahan, 2s keluar */
}
@keyframes notif {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    15% {
        transform: translateX(-5%);
        opacity: 1;
    }
    25%, 50%, 75% {
        transform: translateX(0);
    }
    85% {
        transform: translateX(-5%);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.notif span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #f27531;
    width: 2rem;
    height: 2.2rem;
    border-radius: 0 .2rem .2rem 0;
    cursor: pointer;
}


/* ==================== Media Query ==================== */
@media (max-width: 1000px) {
    .container {
        width: 70%;
    }
}
/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 90%;
    }

    .container {
        width: 85%;
        min-height: 380px;
    }

    .toggle-container {
        border-radius: 90px 0 0 60px;
    }

    .container input {
        padding: 8px 12px;
        font-size: 12px;
    }
}

/* Handphone */
@media (max-width: 568px) {
    html {
        font-size: 100%;
    }

    .container {
        width: 75%;
        min-height: 420px;
    }

    .sign-in, .sign-up {
        width: 100%;
    }

    .toggle-container {
        display: none;
    }

    .container form {
        padding: 1.8rem;
    }

    .container form p {
        display: inline-block;
        font-size: .8rem;
        margin: 1.2rem 0 .2rem;
    }
    .container form p span {
        font-size: .8rem;
        transition: .1s;
        cursor: pointer;
        color: #f27531; 
    }
    .container form p span:hover {
        font-size: .82rem;
    }

    .container button {
        width: 100%;
    }

    .container.active .sign-in{
        opacity: 0;
    }

    .sign-up{
        left: 0;
        opacity: 0;
        z-index: 1;
        transform: translateX(-100%);
    }
    .container.active .sign-up{
        transform: translateX(0);
        opacity: 1;
        z-index: 5;
    }
}