:root {
    --primary: #F16A23;
    --second: #F7C942;
    --bg: #f8f8f8;
    --text: #242424;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg) !important;
    color: var(--text);
    padding-top: 5.2rem;
}

::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background-color: #d1d1d1;
}
::-webkit-scrollbar-thumb {
    background-color: #ff8d50;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #df773f;
}

/* Overlay */
.navbar .overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: .3s ease-in;
    display: none;
}
.navbar .overlay.active {
    display: block;
    width: 100%;
    animation: fade .3s forwards;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Navbar */
.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 6%;
    background-color: rgba(250, 250, 250, 0.5);
    border-bottom: 1px solid var(--primary);
    backdrop-filter: blur(5px);
    z-index: 999;
}

.navbar .navbar-nav {
    position: absolute;
    top: 0%;
    left: -100%;
    background-color: var(--bg);
    width: 17.7rem;
    height: 100vh;
    transition: .4s;
    padding: 1.8rem 2%;
    z-index: -1;
}
.navbar .navbar-nav.active {
    z-index: 4;
    left: 0;
}

.navbar .navbar-nav a img {
    width: 200px;
}

.navbar .navbar-nav .navbar-link {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}
.navbar .navbar-nav .navbar-link a {
    color: var(--text);
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: .4rem .5rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 6px;
    margin: .1rem -.5rem;
    transition: .1s;
}
.navbar .navbar-nav .navbar-link a:hover {
    background-color: var(--primary);
    color: var(--bg);
}
.navbar .navbar-nav .navbar-link a span {
    margin: 0 .5rem;
}

.navbar .navbar-container {
    padding: .4rem 6%;
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar .navbar-container .logo {
    display: flex;
    align-items: center;
}
.navbar .navbar-container .logo a {
    margin: 0 2rem 0 0;
    color: var(--text);
}

.navbar .navbar-container .logo p {
    margin-bottom: 0;
    margin-left: -1.3rem;
    color: rgba(1, 1, 1, .9);
    font-size: 1rem;
    font-style: italic;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.navbar .navbar-container .login-register {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    position: relative;
}
.navbar .navbar-container .login-register a {
    text-decoration: none;
    margin: .3rem;
    color: var(--text);
    font-size: 1rem;
    font-weight: 500;
}

.navbar .navbar-container .login-register:hover .login-text {
    display: flex;
    animation: scaleY .3s backwards;
}

.navbar .navbar-container .login-register .login-container {
    position: absolute;
    top: 2.15rem;
    right: -5.4rem;
    padding-top: 1rem;
}

.navbar .navbar-container .login-register .login-text {
    transform-origin: top;
    transition: .2s;
    background-color: #dbdbdb;
    display: none;
    padding: .75rem;
    border-radius: 0 0 .6rem .6rem;
}
@keyframes scaleY {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}

.navbar .navbar-container .login-register .login-text a {
    display: inline-block;
    font-size: .9rem;
    color: var(--bg);
    padding: .3rem 1.5rem;
    background-color: #F16A23;
    margin: 0;
    border-radius: .4rem 0 0 .4rem;
    transition: .2s;
}
.navbar .navbar-container .login-register .login-text a:hover {
    background-color: #e16421;
}
.navbar .navbar-container .login-register .login-text a:nth-child(2) {
    background-color: #707FEB;
    border-radius: 0 .4rem .4rem 0;
}
.navbar .navbar-container .login-register .login-text a:nth-child(2):hover {
    background-color: #6a77da;
}

.navbar .navbar-container .cart {
    margin-left: auto;
    margin-right: 1.5rem;
    color: var(--text);
    transition: .1s;
    position: relative;
    text-decoration: none;
}
.navbar .navbar-container .cart:hover {
    color: var(--primary);
}
.navbar .navbar-container .cart span.notif,
.navbar .navbar-container .cart span.notif-animation {
    position: absolute;
    display: inline-block;
    color: var(--bg);
    height: .9rem;
    width: .9rem;
    padding-right: 1px;
    text-align: center;
    font-size: .6rem;
    font-weight: 500;
    right: -.5rem;
    bottom: -.1rem;
    background-color: red;
    border-radius: 50%;
    opacity: 0;
}
.navbar .navbar-container .cart span.notif-animation {
    bottom: -2rem;
    transition: .3s;
}

.navbar .shopping-cart {
    position: absolute;
    top: 101%;
    right: -100%;
    height: 100vh;
    width: 24rem;
    padding: 0 1rem 5rem;
    color: var(--text);
    background-color: var(--bg);
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    transition: .3s;
}
.navbar .shopping-cart.active {
    right: 2px;
}

.shopping-cart::-webkit-scrollbar {
    width: 5px;
}
.shopping-cart::-webkit-scrollbar-track {
    background-color: var(--bg);
}
.shopping-cart::-webkit-scrollbar-thumb {
    background-color: #ff8d50;
    border-radius: 3px;
}
.shopping-cart::-webkit-scrollbar-thumb:hover {
    background-color: #e1783f;
}

.shopping-cart .cart-item {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding: 1rem 0 .7rem;
    border-bottom: 1px dashed var(--text);
}
.shopping-cart .cart-item img {
    height: 3.2rem;
    border-radius: 5px;
    margin-right: .5rem;
}
.shopping-cart .cart-item h3 {
    margin: 0;
    font-size: 1.1rem;
}
.shopping-cart .cart-item .item-price {
    display: inline-block;
    line-height: 1rem;
    font-size: .9rem;
    margin-top: .5rem;
}
.shopping-cart .cart-item .item-price span:nth-child(1),
.shopping-cart .cart-item .item-price span:nth-last-child(1) {
    color: var(--primary);
    font-weight: 500;
    margin-right: 4px;
}

.shopping-cart .cart-item #add,
.shopping-cart .cart-item #remove {
    display: inline-block;
    width: 17px;
    padding-top: 1px;
    cursor: pointer;
    margin: 0 .4rem;
    background-color: var(--primary);
    color: var(--bg);
    border-radius: 3px;
    font-size: 1rem;
}

.shopping-cart h4 {
    margin-top: 1rem;
    font-size: 1.2rem;
    text-align: center;
}

/* Form */
.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px dashed var(--text);
    margin-top: 1rem;
    padding: 1rem;
}
.form-container h5 {
    text-align: center;
    font-size: 1.2rem;
}

.form-container form {
    width: 100%;
    text-align: center;
}
.form-container label {
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
}
.form-container span {
    text-align: left;
    color: #1e1e1e;
}
.form-container input {
    background-color: var(--bg);
    padding: 4px 7px;
    border: 1px solid #969696;
    border-radius: 5px;
    font-size: .8rem;
}

.form-container .checkoutBtn {
    padding: .3rem 1.3rem;
    background-color: var(--primary);
    color: var(--bg);
    font-weight: 600;
    font-size: 1rem;
    border-radius: .8rem;
    margin: 1rem auto;
    cursor: pointer;
}
.form-container .checkoutBtn.disabled {
    background-color: #969696;
    cursor: default;
}

/* ======================================================= */
/* Product Section */
.product {
    padding: 0 6%;
}

.product .row {
    display: flex;
    margin: 0;
}

.row .product-name {
    max-width: 30%;
    height: auto;
    display: inline-block;
    color: var(--text);
    font-family: 'Poppins', sans-serif;
    padding: 0;
}
.row .product-name .product-content {
    padding: 1rem;
    background-color: #f0f0f0;
    border-radius: 1rem;
}

.product .product-name .detail-top .title {
    display: flex;
    align-items: center;
    margin-bottom: .8rem;
}
.product .product-name .detail-top .title img {
    width: 4.5rem;
    border-radius: .5rem;
}
.product .product-name .detail-top .title p {
    margin: 0;
    padding-left: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.product .product-name .detail-top .icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    font-size: .75rem;
}
.product .product-name .detail-top .icons p {
    flex: 1 1 7.5rem;
    margin: .2rem;
}
.product .product-name .detail-top .icons svg.feather {
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
}

.product .product-name span {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: var(--text);
    margin-bottom: .4rem;
}

.product .product-name .detail-bottom h4 {
    font-size: .9rem;
    margin-bottom: 1rem;
}
.product .product-name .detail-bottom p {
    margin: .1rem 0;
    font-size: .9rem;
}

/* Product Item */
.product .product-item {
    max-width: 68.5%;
    padding: 1.5rem;
    margin-left: auto;
    background-color: #f0f0f0;
    border-radius: 1rem;
    color: var(--text);
    font-family: 'Poppins', sans-serif;
}

.product .product-item .title {
    position: relative;
    display: flex;
}
.product .product-item .title span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    text-align: center;
    color: var(--text);
    font-weight: bold;
    font-size: 18px;
    border: 2px solid var(--text);
    border-radius: 3px;
    transform: rotate(45deg);
    margin-right: .6rem;
    margin-top: .1rem;
}
.product .product-item .title span svg.feather {
    width: 1rem;
    height: 1rem;
}
.product .product-item .title h2 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.product .product-item .title h2::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: var(--text);
    position: absolute;
    top: 2.5rem;
    left: 0;
}

.product .product-item .container {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}
.product .product-item .container h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin: 0 .5rem;
}

.product .product-item .container .card-container {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: .4rem;
    margin-bottom: .5rem;
}
.product .product-item .container .card-container .card {
    border: 0;
    background-color: var(--bg);
    padding: .8rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: row;
}
.product .product-item .container .card img {
    height: 3.8rem;
    width: 3.8rem;
    border-radius: 5px;
    margin-right: .5rem;
}
.product .product-item .container .card .card-detail {
    width: 100%;
    position: relative;
}
.product .product-item .container .card .card-detail h4 {
    font-size: .85rem;
    margin: 0;
}
.product .product-item .container .card .card-detail p {
    font-size: .6rem;
    margin: .1rem 0;
}

.product .product-item .container .card .card-detail .detail-price {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -0.3rem;
    width: 100%;
}
.product .product-item .container .card .card-detail .detail-price p {
    font-size: .9rem;
    font-weight: 500;
    color: #e1521e;
}
.product .product-item .container .card .card-detail .detail-price span {
    width: 1.1rem;
    height: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    border-radius: 3px;
    color: white;
    font-size: .8rem;
    cursor: pointer;
    margin-left: auto;
}
.product .product-item .container .card .card-detail .detail-price span:hover {
    background-color: #e1631e;
}

/* ================================================== */
/* Footer */
footer {
    background-color: #f1f1f1;
    margin-top: 3rem;
    padding: 2rem 6% 0;
}

footer .container {
    min-width: 100%;
    padding: 0;
    margin: 0;
}

footer .container .footer-content {
    display: flex;
    gap: 3rem;
    position: relative;
}
footer .container .footer-content::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--text);
    position: absolute;
    bottom: 0;
}

footer .container .description {
    padding-top: 2rem;
    width: 50%;
}
footer .container .description img {
    height: 6rem;
    margin-bottom: 2rem;
}
footer .container .description p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-align: justify;
}

footer .container .content {
    margin-left: auto;
    width: 50%;
}
footer .container .content .links {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
footer .container .content .links .sitemap,
footer .container .content .links .other,
footer .container .content .links .sitemap,
footer .container .content .links .contact {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    gap: .9rem;
}
footer .container .content .links h3 {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}
footer .container .content .links a {
    text-decoration: none;
    color: var(--text);
    font-size: 1.1rem;
}

footer .container .content .links .contact .sosmed-logo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1.6rem;
}
footer .container .content .links .contact .sosmed-logo a {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--bg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .payment h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}
footer .payment .payment-wrapper {
    width: 100%;
    display: flex;
    overflow: hidden;
    margin: 1rem 0 1.1rem;
}
footer .payment .payment-list {
    height: 20px;
    display: flex;
    width: max-content;
    object-fit: cover;
    animation: autoScroll 25s linear infinite;
    animation-play-state: running;
}
footer .payment .payment-wrapper:hover .payment-list {
    animation-play-state: paused;
}
footer .payment .payment-list .payment-item {
    padding: 0 10px;
    max-height: 100%;
}
@keyframes autoScroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

footer .container .copyright {
    display: flex;
    margin: 1rem 0;
    align-items: center;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
footer .container .copyright h3 {
    font-size: 1.1rem;
    margin-right: 1rem;
    margin-bottom: 0;
}
footer .container .copyright a {
    text-decoration: none;
    margin: 0 .5rem;
}
footer .container .copyright span {
    font-size: 2rem;
    font-weight: 200;
}

/* ========================================================================== */
/* Query */
/* Desktop */
@media (min-width: 1400) {
    html {
        font-size: 110%;
    }
}

/* Tablet */
@media (max-width: 758px) {
    html {
        font-size: 68%;
    }

    .navbar {
        padding: 1.1rem 4% !important;
    }

    .navbar .navbar-container {
        padding-left: 0;
        padding-right: 0;
    }
    
    .navbar .navbar-nav {
        width: 25rem;
    }

    .navbar .navbar-nav a img {
        width: 75%;
        margin-left: 4px;
    }

    .navbar .navbar-nav .navbar-link {
        margin: 3rem 0;
    }

    .navbar .navbar-nav .navbar-link a {
        color: var(--text);
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: .4rem .8rem;
        font-size: 1.4rem;
        font-weight: 500;
        border-radius: 6px;
        margin: .5rem -.5rem;
        transition: .1s;
    }

    .navbar .navbar-container .logo p,
    .navbar .navbar-container .login-register {
        display: none;
    }

    .navbar .navbar-container .cart {
        margin-left: auto;
    }

    
    .navbar .navbar-container .cart span.notif,
    .navbar .navbar-container .cart span.notif-animation {
        height: 1.1rem;
        width: 1.1rem;
        padding-top: 1px;
        padding-left: 1px;
        font-size: .7rem;
        font-weight: 600;
    }
    
    .navbar .shopping-cart {
        width: 30rem;
        padding-bottom: 7rem;
    }

    .shopping-cart .cart-item img {
        height: 5rem;
    }
    .shopping-cart .cart-item h3 {
        font-size: 1.5rem;
    }
    .shopping-cart .cart-item .item-price {
        font-size: 1.2rem;
    }

    .shopping-cart .cart-item #add,
    .shopping-cart .cart-item #remove {
        width: 12px;
        font-size: .9rem;
        padding-top: 2px;
        padding-left: 1px;
    }

    .form-container input {
        font-size: 1.2rem;
    }

    /* Product */
    .product {
        padding: 1rem 3%;
    }
    .product .row {
        flex-direction: column;
        gap: 1rem;
    }
    .product .row .product-name,
    .product .row .product-item {
        max-width: 100%;
    }

    
    .product .product-item .title span {
        width: 1.6rem;
        height: 1.6rem;
    }
    
    .product .product-item .container {
        margin: 0;
        min-width: 100%;
        gap: .6rem;
    }

    .product .product-item .container .card-container {
        grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
        gap: .6rem;
    }

    .product .product-item .container .card img {
        width: 6rem;
        height: 6rem;
        margin-right: .8rem;
    }

    .product .product-item .container .card .card-detail h4 {
        font-size: 1.2rem;
        margin: .2rem 0;
    }
    .product .product-item .container .card .card-detail p {
        font-size: .8rem;
    }

    .product .product-item .container .card .card-detail .detail-price p {
        font-size: 1.2rem;
    }
    .product .product-item .container .card .card-detail .detail-price span {
        padding: .1rem;
        box-sizing: content-box;
    }

    /* Footer */
    footer {
        padding: 2rem 3% 0;
    }
    footer .container {
        width: 100%;
    }
    footer .footer-content {
        flex-wrap: wrap;
    }
    footer .footer-content .description {
        width: 100%;
    }
    footer .footer-content .content {
        margin-left: 0;
        width: 100%;
        margin-top: -5rem;
    }
    footer .container .content .links {
        justify-content: flex-start;
        gap: 2.5rem;
    }
    footer svg.feather {
        width: 1.5rem;
        height: 1.5rem;
    }
}

/* HP */
@media (max-width: 568px) {
    html {
        font-size: 58%;
    }

    .navbar .navbar-container .cart span.notif,
    .navbar .navbar-container .cart span.notif-animation {
        height: 1.2rem;
        width: 1.2rem;
        padding-left: 1px;
        font-weight: 700;
        font-size: .8rem;
    }
    
    .shopping-cart .cart-item #add {
        padding-left: 0.5px;
    }
    .shopping-cart .cart-item #add,
    .shopping-cart .cart-item #remove {
        width: 11px;
        font-size: .9rem;
        padding-top: 2px;
        padding-right: 1px;
    }

    .product {
        margin-top: 1rem;
    }

    .product .product-item .title span {
        width: 1.5rem;
        height: 1.5rem;
    }

    .product .product-name .detail-top .icons {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
    }
    .product .product-name .detail-top .icons p {
        flex: 1 1 7.5rem;
        margin: 0;
    }

    .product .product-item .container {
        grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
        margin: 0;
        min-width: 100%;
    }
    .product .product-item .container h3 {
        font-size: 1.4rem;
    }

    .product .product-item .container .card-container {
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }

    .product .product-item .container .card .card-detail .detail-price p {
        font-size: 1.3rem;
    }

    .product .product-item .container .card .card-detail .detail-price span {
        padding: .2rem;
        box-sizing: content-box;
    }

    
}